*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E4E6E6;
    color: #4A546D;
}
a{
    color: inherit;
}
a:hover, a:active, a:link{
    color: white!important;
    text-decoration: none;
}

/**********HEADER********/
.headerNav {
    background: #E57A22;
    padding: 20px;
    color: white;
}
.blocHearderNav{
    width: 20%;
}
.blocSearchBarNav{
    width: 60%;
}
.blocHearderNav i{
    font-size: 1.4em;
}
.form-control{
    border-radius: 1em!important;
}
.form-control::placeholder {
    font-size: 1rem;
    color: #aaa;
    font-style: italic;
    text-align: center;
}
.form-control:focus {
    box-shadow: none;
}
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}
.iconeSearchBar{
    color: #0039CB;
    font-size: 1.2em;
}
/****************HEADER 2 COLLASPE********************/
.headerNav2 {
    background: #FF9E40;
    color: white;
    height: 3rem;
}
.titreHeader2{
    margin: auto;
}
.dropdownHeader2{
    color: white;
    margin: 0 10px;
    text-align: center;
}
.chevronReserve{
    transform: rotate(180deg);
}
.list-group{
    color:white;
    text-align: center;
    font-size: 10px;
}
.list-group-item{
    background: #FF9E40;
    font-size: 10px;
}
/*********LISTE DES COURSES**********/
#consumables{
    overflow-y: scroll;
    min-width: 100%;
    height: calc(100vh - 188px);
}
.col .row {
    margin-left: -0.75rem;
    margin-right: 0;
}
.content{
    padding: 0 0!important;
}
#liste{
    padding: 0 0!important;
}
.produit{
    padding: 0 0!important;
    background: white;
    border-bottom: 1px solid #E4E6E6;
}
.col-item-img{
    height: 8em;
    width: 25%;
}
.col-item-img img{
    width: -moz-available;
    height: inherit;
}
.col-item-info .item-info{
    font-size: 12px;
}
.col-item-info{
    width: 75%;
    padding: 0px 15px;
}
.col-item-info tr{
    display: table;
    width: 100%;
}
.col-item-info ul {
    list-style: none;
    display: ruby-base;
}
.col-item-info li {
    background: #768fff;
    display: flex;
    border-radius: 3px;
    width: 1.3em;
    height: 1.3em;
}
.col-item-info li i{
    color: white;
    margin: auto;
    font-size: 0.8em;
}
.itemPrice{
    font-weight: bold;
    font-size: 14px!important;
}
.addBtn{
    border-radius: 50%;
    background: #0039CB;
    border: none;
    float: right;
    width: 2.3em;
    height: 2.3em;
    display: flex;
}
.addBtn i{
    margin: auto;
    color: white;
}

/*******FOOTER*********/
footer{
    position: fixed;
    width: 100%;
    bottom:0;
}
.footerNav{
    background: white;
    padding: 15px;
    color: #768FFF;
    border-top: 2px solid #E4E6E6;
}
.itemFooter{
    text-align: center;
    width: 33%;
}
.itemIcone{
    font-size: 1.4em;
}
.itemTexte{
    font-size: 13px;
    margin-bottom: none!important;
    margin: 0 !important;
}
.footerParam .itemIcone{
    fill: #768fff;
}
/**********************ASIDE***************************/
#slide-out{
    display: none;
}
.aside{
    background: white;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
}
.flou{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}