@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    --shadow: 2px 2px 4px var(--grey-light-opaque), 2px 2px 4px var(--grey-light-opaque-2x);
    font-family: "Roboto", sans-serif;
}

html {
    --main: rgba(255, 182, 75, 1);
    --light: rgba(255, 199, 117, 1);
    --dark: rgba(255, 152, 0, 1);
    --grey-lighter: #ccc;
    --grey-light: #424242;
    --grey: rgba(112, 112, 112, 0.7);
    --grey-light-opaque: rgba(66, 66, 66, 0.3);
    --grey-light-opaque-2x: rgba(66, 66, 66, 0.6);
    --grey-dark: #212121;
    --white: white;
    --complementary: rgba(38, 153, 251, 1);
    --red: rgb(254, 54, 54, 0.7);
    --green: rgb(0, 191, 45, 0.7);
    --black: rgba(66, 66, 66, 1);
    --orange: rgba(255, 152, 0, 0.7);
    --text-color: var(--black);
    /* Text color on main background*/
    --text-color-dark: white;
    /* Text color on dark background*/
    --text-color-light: white;
    /* Text color on light background*/
    --text-color-white: var(--black);
    /* Text color on white background*/
    --text-color-black: white;
    /* Text color on black background*/
    --background: var(--white);
    --popup-shadow: 0 5px 16px rgba(0, 0, 0, .25);
}

/* https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a */
html[data-theme="dark"] {
    --main: rgba(255, 152, 0, 1);
    --light: rgba(255, 199, 117, 1);
    --dark: rgba(255, 182, 75, 1);
    --grey-lighter: #ccc;
    --grey-light: #424242;
    --grey: rgba(112, 112, 112, 0.7);
    --grey-light-opaque: rgba(66, 66, 66, 0.3);
    --grey-light-opaque-2x: rgba(66, 66, 66, 0.6);
    --grey-dark: #212121;
    --white: black;
    --complementary: rgba(38, 153, 251, 1);
    --red: rgb(254, 54, 54, 0.7);
    --green: rgb(0, 191, 45, 0.7);
    --black: rgba(66, 66, 66, 1);
    --orange: rgba(255, 152, 0, 0.7);
    --text-color: var(--black);
    /* Text color on main background*/
    --text-color-dark: white;
    /* Text color on dark background*/
    --text-color-light: white;
    /* Text color on light background*/
    --text-color-white: var(--black);
    /* Text color on white background*/
    --text-color-black: white;
    /* Text color on black background*/
    --background: var(--white);
    --popup-shadow: 0 5px 16px rgba(0, 0, 0, .25);
    filter: invert(100%) hue-rotate(180deg);
    mix-blend-mode: screen;
}

/* setTheme("high-contrast"); */
html[data-theme="high-contrast"] {
    --main: black;
    --light: black;
    --dark: black;
    --grey-lighter: white;
    --grey-light: white;
    --grey-light-opaque: white;
    --grey-dark: white;
    --white: black;
    --red: black;
    --green: white;
    --black: white;
    --orange: white;
    --text-color: white;
    /* Text color on main background*/
    --text-color-dark: black;
    /* Text color on dark background*/
    --text-color-light: black;
    /* Text color on light background*/
    --text-color-white: black;
    /* Text color on white background*/
    --text-color-black: black;
    /* Text color on black background*/
    --background: black;
    --popup-shadow: 0 0 5px white, 0 0 5px white;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
}
