*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E4E6E6;
    color: #4A546D;
}
a{
    color: inherit;
}
/**********HEADER********/
.headerNav {
    background: #E57A22;
    padding: 20px;
    color: white;
}
.blocHearderNav{
    width: 33%;
}
.headerNav i{
    font-size: 1.3em;
}
.headerNav2 {
    background: #FF9E40;
    color: white;
    height: 3rem;
}
.dropdown-header2{
    margin: auto;
}

/*********LISTE DES COURSES**********/

.article{
    background: white;
    padding: 10px 10px;
    border-bottom: 2px solid #E4E6E6;
}
.article p{
    margin: 0!important;
}
.dropdownProduit{
    color: #B53D00;
}
.chevronReserve{
    transform: rotate(180deg);
}
.produit .material-icons{
    font-size: 1em;
    color: #768FFF;
}
.produitInfo{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.nomProduit,.prixProduit {
    font-size: 13px;
}
.distanceProduit,.quantiteProduit {
    font-size: 11.5px;
}
.photoProduit{
    height: 4em;
    width: 5em;
    border-radius: 18px;
}
.col-item{
    width: inherit;
}
/*******FOOTER*********/
.panierNav {
    padding: 10px 20px;
}
.blocPanier{
    width: 40%;
    text-align: center;
}
.btnPanier{
    background-color: #FF9E40;
    color: white;
    border: none;
    width: 100%;
    padding: 5px 10px;
    border-radius: 24px;
}
.btnPanier a:visited{
    color: white;
}
.blocOption{
    width: 20%;
}
.btnOption{
    border-radius: 50%;
    background: #0039CB;
    color: white;
    border: none;
    padding: 8px;
    float: right;
    width: 2.5em;
    height: 2.5em;
    display: flex;
}
.btnOption2{
    background: #768FFF;
    margin: 5px 0;
}
.btnOption i, .btnOption a {
    margin: auto;
}
.btnOption i {
    font-size: 1.2em;
}
.dropdown-menu{
    background: none!important;
    border: none!important;
    box-shadow: none!important;
}
/* RETIRER ICONE PAR DEFAUT DU BTN*/
.dropdown-toggle::after {
    content: none!important;
}

.blocVide{
    width: 20%;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footerNav{
    background: white;
    padding: 15px;
    color: #768FFF;
    border-top: 2px solid #E4E6E6;
}
.itemFooter{
    text-align: center;
    width: 33%;
}
.itemIcone{
    font-size: 1.4em;
}
.itemTexte{
    font-size: 13px;
    margin-bottom: none!important;
    margin: 0 !important;
}
.itemTexte :last-child{
    color: #768FFF!important;
}
/**********************ASIDE***************************/
#slide-out{
    display: none;
}
.aside{
    background: white;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
}
.flou{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}