@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    --shadow: 2px 2px 4px var(--grey-light-opaque), 2px 2px 4px var(--grey-light-opaque-2x);
    font-family: "Roboto", sans-serif;
}

html {
    --main: rgba(255, 182, 75, 1);
    --light: rgba(255, 199, 117, 1);
    --dark: rgba(255, 152, 0, 1);
    --grey-lighter: #ccc;
    --grey-light: #424242;
    --grey: rgba(112, 112, 112, 0.7);
    --grey-light-opaque: rgba(66, 66, 66, 0.3);
    --grey-light-opaque-2x: rgba(66, 66, 66, 0.6);
    --grey-dark: #212121;
    --white: white;
    --complementary: rgba(38, 153, 251, 1);
    --red: rgb(254, 54, 54, 0.7);
    --green: rgb(0, 191, 45, 0.7);
    --black: rgba(66, 66, 66, 1);
    --orange: rgba(255, 152, 0, 0.7);
    --text-color: var(--black);
    /* Text color on main background*/
    --text-color-dark: white;
    /* Text color on dark background*/
    --text-color-light: white;
    /* Text color on light background*/
    --text-color-white: var(--black);
    /* Text color on white background*/
    --text-color-black: white;
    /* Text color on black background*/
    --background: var(--white);
    --popup-shadow: 0 5px 16px rgba(0, 0, 0, .25);
}

/* https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a */
html[data-theme="dark"] {
    --main: rgba(255, 152, 0, 1);
    --light: rgba(255, 199, 117, 1);
    --dark: rgba(255, 182, 75, 1);
    --grey-lighter: #ccc;
    --grey-light: #424242;
    --grey: rgba(112, 112, 112, 0.7);
    --grey-light-opaque: rgba(66, 66, 66, 0.3);
    --grey-light-opaque-2x: rgba(66, 66, 66, 0.6);
    --grey-dark: #212121;
    --white: black;
    --complementary: rgba(38, 153, 251, 1);
    --red: rgb(254, 54, 54, 0.7);
    --green: rgb(0, 191, 45, 0.7);
    --black: rgba(66, 66, 66, 1);
    --orange: rgba(255, 152, 0, 0.7);
    --text-color: var(--black);
    /* Text color on main background*/
    --text-color-dark: white;
    /* Text color on dark background*/
    --text-color-light: white;
    /* Text color on light background*/
    --text-color-white: var(--black);
    /* Text color on white background*/
    --text-color-black: white;
    /* Text color on black background*/
    --background: var(--white);
    --popup-shadow: 0 5px 16px rgba(0, 0, 0, .25);
    filter: invert(100%) hue-rotate(180deg);
    mix-blend-mode: screen;
}

/* setTheme("high-contrast"); */
html[data-theme="high-contrast"] {
    --main: black;
    --light: black;
    --dark: black;
    --grey-lighter: white;
    --grey-light: white;
    --grey-light-opaque: white;
    --grey-dark: white;
    --white: black;
    --red: black;
    --green: white;
    --black: white;
    --orange: white;
    --text-color: white;
    /* Text color on main background*/
    --text-color-dark: black;
    /* Text color on dark background*/
    --text-color-light: black;
    /* Text color on light background*/
    --text-color-white: black;
    /* Text color on white background*/
    --text-color-black: black;
    /* Text color on black background*/
    --background: black;
    --popup-shadow: 0 0 5px white, 0 0 5px white;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
}

.material-icons {
    vertical-align: middle;
    color: var(--black);
}

img {
    mix-blend-mode: multiply;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--black);
}

@media print {

    .navbar,
    .mysidenav {
        display: none;
    }
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    color: var(--text-color);
    background-color: var(--main);
    padding-left: 8px;
    text-overflow: ellipsis
}

.mysidenav {
    display: none;
    height: 100%;
    width: 42%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: var(--text-color);
    background-color: var(--main);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: var(--shadow);
}

@media screen and (max-width: 450px) {
    .mysidenav {
        width: 95%;
    }

}

.dropdown-container,
.mysidenav button,
.mysidenav a {
    cursor: pointer;
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.dropdown-container {
    display: none;
    padding-left: 68px;
    background-color: var(--main);
}

.mysidenav button {
    background-color: var(--main);
}

.mysidenav #nav-closebtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 16px;
    font-size: 36px;
    padding: 8px 8px 8px 8px;
}

.mysidenav ul {
    list-style: none;
}

@media screen and (max-height: 450px) {
    .mysidenav {
        padding-top: 15px;
    }

    .mysidenav a {
        font-size: 18px;
    }
}

.navbar {
    box-shadow: var(--shadow);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--main);
    width: 100%
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    cursor: pointer;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#search-navbar {
    float: right;
}

#nav-name {
    cursor: default;
}

.mysidenav a:hover,
.mysidenav button:hover,
li a:hover:not(#nav-name) {
    color: var(--text-color);
    background-color: var(--dark);
}

/* Full-width input fields */
input[type=email],
input[type=new-password],
input[type=password],
input[type=current-password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--grey-light);
    box-sizing: border-box;
}

button {
    background-color: var(--dark);
    color: var(--text-color-dark);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

button:disabled,
button[disabled] {
    background-color: var(--white);
    color: var(--text-color);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: var(--red);
    color: var(--text-color);
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
    color: var(--text-color);
    background-color: var(--background);
}

.container #pbm {
    color: var(--text-color);
    background-color: var(--grey-dark);
}

span.password {
    float: right;
    padding-top: 16px;
}

.modal {
    background-color: var(--grey-light-opaque);
    color: var(--text-color);
}

.modal-content {
    color: var(--text-color);
    background-color: var(--white);
}

.own_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--grey-light-opaque);
    color: var(--text-color);
    padding-top: 60px;
}

.own_modal-content {
    color: var(--text-color);
    background-color: var(--white);
    margin: 5% auto 15% auto;
    border: 0px solid var(--grey-dark);
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: var(----text-color);
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--red);
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 350px) {
    span.password {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.error-email {
    color: var(--red);
    text-align: center;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    color: var(--text-color);
    background-color: var(--grey-light);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: var(--grey-light);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
    background: red;
}

meter[value="2"]::-moz-meter-bar {
    background: yellow;
}

meter[value="3"]::-moz-meter-bar {
    background: orange;
}

meter[value="4"]::-moz-meter-bar {
    background: green;
}

.content {
    padding: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--grey-lighter);
    margin: 1em 0;
    padding: 0;
}

.row-check {
    cursor: pointer;
    width: 10%;
}

.row-name {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-indicator {
    width: 5%;
}

.row-price {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.consumables {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.consumables .done {
    text-decoration: line-through;
    background-color: var(--grey-lighter);
}

td,
th {
    text-align: left;
    padding: 5px 10px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    background-color: var(--green);
}

.dot-orange {
    background-color: var(--orange);
}

.dot-red {
    background-color: var(--red);
}

.dot-grey {
    background-color: var(--grey);
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: var(--grey-dark);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-effect.waves-light .waves-ripple {
    background-color: var(--grey-lighter);
}

.waves-block {
    display: block;
}

.waves-effect .waves-ripple {
    z-index: -1;
}

.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none
}

.waves-effect img {
    position: relative;
    z-index: -1;
}

.loading-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.toast.rounded,
.toast.rounded .material-icons,
.btn-blue {
    background-color: var(--complementary) !important;
    color: var(--white);
}

.toast.rounded {
    border-radius: 14px;
}

svg{
    width: 65%;
    padding-top: 12%
}

svg path,
svg rect {
    fill: var(--white);
}