:root {
    --main: #40C4FF;
    --light: #82F7FF;
    --dark: #0094CC;
    --complementary: #FF8138;
    --grey-light: #424242;
    --grey-dark: #212121;
    --white: white;
    --red: #f44336;
    --black: black;
    --text-color: black;       /* Text color on main background*/
    --text-color-dark: white;  /* Text color on dark background*/
    --text-color-light: white; /* Text color on light background*/
    --text-color-white: black; /* Text color on white background*/
    --text-color-black: white; /* Text color on black background*/
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

@media print {

    .navbar,
    .sidenav {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}

.sidenav #nav-closebtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding: 8px 8px 8px 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main);
    width: 100%
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    cursor: pointer;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-name {
    cursor: default;
}

.sidenav a:hover,
li a:hover:not(#nav-name) {
    background-color: var(--dark);
}

/* Full-width input fields */
input[type=email],
input[type=new-password],
input[type=password],
input[type=current-password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--grey-light);
    box-sizing: border-box;
}

button {
    background-color: var(--dark);
    color: var(--text-color-dark);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: var(--red);
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
    padding: 16px;
}

.container #pbm {
    background-color: var(--grey-dark);
}

span.password {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--black);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--white);
    margin: 5% auto 15% auto;
    border: 0px solid var(--grey-dark);
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: var(--black);
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--red);
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 350px) {
    span.password {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.error-email {
    color: var(--red);
    text-align: center;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }