{{ define "head" }}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eiko - {{ .Title }}</title>
    <meta name="author" content="Eiko's Team">
    <meta name="description" content="Eiko, une plateforme qui centralise les alternatives de consommation pour trouver moins cher, plus sain ou plus écolo. Transforme ta consomation en vote !">
    <meta name="keywords" content="Eiko, independance, collaboratif, consommation, alternatives, santé, économique, écologique, vote, transformation, plateforme, PWA, particulier, recommendation, astuces, gratuit, freemium, confiance, communauté, collaboration, alimentaire, course">
    <meta name="viewport" content="width=device-width, initial-scale=1 minimal-ui">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Progressive Web App -->
    <meta name="theme-color" content="#FF9800">
    <link rel="manifest" href="/manifest.json">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/img/EIKO.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Eiko">
    <link rel="apple-touch-icon" href="/img/EIKO.png">
    <link rel="apple-touch-icon-precomposed" href="/img/EIKO.png">
    <link rel="mask-icon" href="/img/EIKO.png" color="#FF9800">
    <!-- Tile color for Windows -->
    <meta name="msapplication-TileImage" content="/img/EIKO.png">
    <meta name="msapplication-TileColor" content="#FF9800">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <link rel="icon" sizes="192x192" href="/img/EIKO.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Facebook look -->
    <meta property="og:description" content="Eiko, une plateforme qui centralise les alternatives de consommation pour trouver moins cher, plus sain ou plus écolo. Transforme ta consomation en vote !">
    <meta property="og:title" content="Eiko">
    <meta property="og:image" content="img/Eiko.png">
    <!-- Twitter look -->
    <meta name="twitter:title" content="Eiko">
    <meta name="twitter:url" content="Eiko">
    <!-- Roboto police -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
   
{{ end }}