{{ define "templateConsumable" }}
<template id="consumable" class="hoverable">
    <tr>
        <td class="row-check"><i class="material-icons">radio_button_unchecked</i></td>
        <td class="row-name"></td>
        <td class="row-indicator"><span class="dot" id="indic1"></span></td>
        <td class="row-indicator"><span class="dot" id="indic2"></span></td>
        <td class="row-indicator"><span class="dot" id="indic3"></span></td>
        <td class="row-price"></td>
    </tr>
</template>
{{ end }}
