{{ define "nav" }}
<ul class="mynavbar">
    {{ if eq .Title "Acceuil" }}
    <li><a data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a></li>
    <li><a class="nav-menu" id="nav-name" href="#">{{.Title}} - Eiko</a></li>
    <li class="right"><a class="nav-menu" id="open-settings"><i class="material-icons">more_vert</i></a></li>
    {{ else }}
    <li><a class="nav-menu" id="nav-back"><i class="material-icons">arrow_back_ios</i></a></li>
    <li><a class="nav-menu" id="nav-name">Eiko</a></li>
    <div class="input-field col s9 m5 l3">
        <i class="material-icons prefix">search</i>
        <input type="text" id="search-input" class="autocomplete">
        <label for="search-input" id="search-input-label">Rechercher un produit</label>
    </div>
    <div class="col s1 m1 l1">
        <a id="add-item" class="btn-blue btn btn-floating waves-effect waves-light">
            <i class="material-icons">add</i>
        </a>
    </div>
    {{ end }}
    <div class="subbar"></div>
</ul>
{{ end }}