{{ define "nav" }}
<ul class="mynavbar">
    {{ if eq .Title "Acceuil" }}
    <li><a data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a></li>
    <li><a class="nav-menu" id="nav-name" href="#">{{.Title}} - Eiko</a></li>
    <li class="right"><a class="nav-menu" id="open-settings"><i class="material-icons">more_vert</i></a></li>
    {{ else }}
    <li><a class="nav-menu" id="nav-back"><i class="material-icons">arrow_back_ios</i></a></li>
    <li><a class="nav-menu">Eiko </a></li>
<!--     <li>
        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
 -->        <!--         <div class="col">
            <a id="add-item" class="btn-blue btn btn-floating waves-effect waves-light">
                <i class="material-icons">add</i>
            </a>
        </div> -->
    </li>
    {{ end }}
    <div class="subbar"></div>
</ul>
{{ end }}