{{ define "tab" }}
<ul id="tabs" class="tabs z-depth-2">
    <li class="tab col s3">
        <a class="active" data-position="top" data-tooltip="Liste" href="#liste">
            <i class="material-icons">assignment</i>
            <!-- Liste -->
        </a>
    </li>
    <li class="tab col s3">
        <a href="#produit">
            <i class="material-icons">loyalty</i>
            <!-- Produit -->
        </a>
    </li>
    <li class="tab col s3">
        <a href="#alternatives">
            <i class="material-icons">swap_horiz</i>
            <!-- Alternatives -->
        </a>
    </li>
</ul>
{{ end }}