{{ template "head" . }} 
{{ template "beautiful" . }}
    <link rel="stylesheet" href="../css/testStyle.css" />
    <link rel="stylesheet" href="../css/fontawesome/css/all.css" />
{{ template "headEnd" . }}

    <body>
        <header class="header">
            <img class="headerLogo" src="../img/EIKO.png" alt="logo"/>
        </header>
        <main>
            <form>
                <input type="text" name="tel-mail" placeholder="Téléphone ou Email" />
                <input type="text" name="mdp"  placeholder="Mot de passe" />
                <button class="btn-callToAction">Se connecter</button>
            </form>
                <p class="ou">OU</p>
            <div class="blocSocialNetwork">
                <a class="waves-effect waves-light btn social facebook lienReseaux" href="#"><i class="fab fa-facebook-f"></i>Connexion via facebook</a>
                <a class="waves-effect waves-light btn social google lienReseaux" href="#"><i class="fab fa-google"></i>Connexion via Google</a>
            </div>
            <div class="blocResetMdp">
                <a href="#" class="resetMdp">Mot de passe oublié</a>
            </div>
            
        </main>
        <footer>
            <p>Vous n'avez pas de compte ? <a href="#">Inscrivez-vous.</a></p>
        </footer>
    </body>
{{ template "end" . }} 
