{{ template "head" . }}
{{ template "beautiful" . }}
{{ template "css" . }}
{{ template "headEnd" . }}
<body>
    {{ template "sidenav" . }}
    <main>
        {{ template "nav" . }}
        <div class="content" id="content">
            {{ template "loading" . }}
            <div id="liste" class="col s12">
                {{ template "list" . }}
                
    <ul class="collection">
        <li class="collection-item center">name</li>
        <li class="collection-item center">name</li>
        <li class="collection-item center">name</li>
        <li class="collection-item center">name</li>
    </ul>

            </div>

            <div id="produit" class="col s12">
                <div class="row">
                    <div class="col s12 orange center"> <br> </div>

                    <div class="col s12 white "><br> <br> <br> <br></div> 

                    <div class="col s12 orange center" link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                       
                        <a class="waves-effect waves-light"><i class="material-icons left">favorite_border</i></a>
                        <a class="waves-effect waves-light"><i class="material-icons left">add</i></a>
                        <a class="waves-effect waves-light"><i class="material-icons left">map</i></a>
                    </div>

                    <div class="col s12 center"> Titre </div>
                    <div class="col s12 grey"></div>

                    <div class="col s12 center"> Quantité </div>
                    <div class="col s12 grey"></div>

                    <div class="col s12 center"> Qu'en pensez-vous ? </div>
                    <div class="col s12 grey"></div>

                    <div class="col s12 silver center">
                    Composition : 
                    <br> Origine du produit : </div>
                    <div class="col s12 grey"></div>

                    <div class="col s3 center" link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <i class="medium material-icons blue">favorite</i> </div>
                    <div class="col s9"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Santé 
                    <ul>
                        <li>Additif</li>
                        <li>Nutrition</li>
                        <li>Régime particulier</li>
                    </ul>
                    </div>

                    <div class="col s12 grey"></div>

                    <div class="col s3 center" link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <i class="medium material-icons red">eco</i> </div>
                    <div class="col s9"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Environnement 
                    <ul>
                        <li>Label ecologique</li>
                        <li>Environnement social</li>
                        <li>Boycottants</li>
                    </ul>
                    </div>


                    </div>

            <div id="alternatives" class="col s12">
                <div class="row">
                    <div class="col s12 orange center"></br></div>

                     <div class="col s12 center"> Classez vos critères d'achats </div>

                     <div class="row center">

                     <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">favorite</i></a>

                     <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">eco</i></a>

                     <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">euro_symbol</i></a>

                     <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">location_on</i></a>

                     <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">people</i></a>

                 </div>

                 <div class="col s12 ">

                    <div class="col s12 center"> Régimes strictes </div>

                    <div class="row center">

                        <a class="btn-floating btn-large waves-effect waves-light grey"><img src="https://img.icons8.com/ios/50/000000/organic-food.png"></a>

                        <a class="btn-floating btn-large waves-effect waves-light grey"><img src="https://img.icons8.com/ios/50/000000/halal-sign.png"></a>

                        <a class="btn-floating btn-large waves-effect waves-light grey"><img src="https://img.icons8.com/android/48/000000/vegan-symbol.png"></a>

                        <a class="btn-floating btn-large waves-effect waves-light grey"><img src="https://img.icons8.com/ios/50/000000/low-salt.png"></a>

                        <a class="btn-floating btn-large waves-effect waves-light grey"><img src="https://img.icons8.com/ios/50/000000/no-sugar2.png"></a>


                        <div class="col s12 center"> Magasins préférer </div>

                        <div class="col s12 center"> Boycott </div>

                        <div class="col s12 center"> Distance et livraison </div>


                     
                 </div>

             </div>

                <div class="container-contact100">
        <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

        <div class="wrap-contact100">
            <div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="contact100-form-title-1">
                    Contactez nous
                </span>
            </div>

            <form class="contact100-form validate-form">
                <div class="wrap-input100 validate-input" data-validate="Votre nom est obligatoire">
                    <span class="label-input100">Nom:</span>
                    <input class="input100" type="text" name="name" placeholder="Entrer votre nom">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Une adresse mail valide est obligatoire: ex@abc.xyz">
                    <span class="label-input100">Email:</span>
                    <input class="input100" type="text" name="email" placeholder="Entrer votre adresse email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Téléphone obligatoire">
                    <span class="label-input100">Telephone:</span>
                    <input class="input100" type="text" name="phone" placeholder="Entrer votre numéro de téléphone">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Commentaire obligatoire">
                    <span class="label-input100">Message:</span>
                    <textarea class="input100" name="message" placeholder="Votre commentaire..."></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Envoyer
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="js/map-custom.js"></script>
<!--===============================================================================================-->
    <script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>


            </div>
            {{ template "action" . }}
        </div>
        {{ template "tab" . }}
    </main>
    {{ template "templateConsumable" . }}
    {{ template "templateSeparator" . }}
    <div id="modal_create_list" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4><font color="orange">Créer une nouvelle liste</font></h4>
            <hr />
            <div class="row">
                <div class="input-field col s9" text-align="center">
                    <input id="list_name" type="text" class="validate" required>
                    <label for="list_name"><center>Intitulé</center></label>
                </div>
            </div>
            <div class="row">
                <p><font color="black">&nbsp;Copier le lien de partage</font><a class="btn-floating btn-large waves-effect waves-light btn-blue"><i class="material-icons">filter_none</i></a></p>
            </div>
        </div>
        <div class="modal-footer">
            <a id="list_back" class="modal-close waves-effect waves-light btn-flat">Retour</a>
            <a id="list_create" class="modal-close waves-effect waves-light btn-flat">Créer la liste</a>
        </div>
    </div>



</body>
{{ template "js" . }}
<script type="text/javascript" src="/js/eiko/eiko.js"></script>
{{ template "end" . }}