{{ template "head" . }}
{{ template "css" . }}
{{ template "headEnd" . }}

<body>
    <ul class="mynavbar">
        <li><a href="/" class="nav-login"><i class="material-icons">pets</i>Eiko</a></li>
        <li><a onclick="setStyleByID('login', 'display: block;')" class="nav-login"><i class="material-icons">person</i>login</a></li>
        <li><a onclick="setStyleByID('register', 'display: block;')" class="nav-login"><i class="material-icons">person_add</i>register</a></li>
    </ul>
    <h1>Eiko</h1>
    <iframe src="//fr.tipeee.com/eiko-app/embed/button" width="100%" height="30" style="border:0;"></iframe>
    Welcome to the eiko main landing page<i class="material-icons">face</i>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <div id="login" class="own_modal">
        <form name="login" class="own_modal-content animate" onsubmit="loginForm()" action="javascript:void(0)">
            <div class="imgcontainer">
                <span onclick="setStyleByID('login', 'display: none;')" class="close" title="Fermer"><i class="material-icons">close</i></span>
            </div>
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Entrez votre email" name="email" id="email" required>
                <label for="password"><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrez votre mot de passe" name="password" id="password" required>
                <a class="error-email" id="error-email" style="display: none;">L'email ou le mot de passe est invalide<br /></a>
                <button type="submit" name="submit" id="login-button" class="waves-effect waves-light">
                    <img src="/img/loading.gif" id="login-loading-gif" style="display: none;" />
                    <a id="login-loading-text">Connexion</a>
                </button>
                <label>
                    <input type="checkbox" checked="checked" name="remember" id="remember"> Se souvenir de moi
                </label>
            </div>
            <div class="container" id="pbm">
                <button type="button" onclick="setStyleByID('login', 'display: none;')" class="cancelbtn waves-effect waves-light">Annuler</button>
                <span class="password"><a href="#">Mot de passe oublié ?</a></span>
            </div>
        </form>
    </div>
    <div id="register" class="own_modal">
        <form name="register" class="own_modal-content animate" onsubmit="registerForm()" action="javascript:void(0)">
            <div class="imgcontainer">
                <span onclick="setStyleByID('register', 'display: none;')" class="close" title="Fermer"><i class="material-icons">close</i></span>
            </div>
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Entrez votre email" name="email" id="mail" required>
                <label for="password1"><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrez votre mot de passe" name="password1" id="password1" required>
                <meter id="password-strength-meter" max="4" value="4"></meter>
                <p id="password-strength-text"></p>
                <p>
                    Indications: pour un mot de passe sécurisé, il faut:
                    <ul>
                        <li>Une longueur de mot de passe supérieur à 9</li>
                        <li>Des majuscules et des nombres</li>
                        <li>Des caractères spéciaux (!.?@ ...)</li>
                        <li>Bonus: Encore plus de caractères spéciaux ([]~ ...)</li>
                    </ul>
                </p>
                <label for="password2"><b>Confirmation de mot de passe</b></label>
                <input type="password" placeholder="Confirmez votre mot de passe" name="password2" id="password2" required>
                <a class="error-email" id="error-email" style="display: none;">Les deux mots de passe sont différents<br /></a>
                <button type="submit" name="submit" id="register-button" class="waves-effect waves-light">
                    <img src="/img/loading.gif" id="register-loading-gif" style="display: none;" />
                    <a id="register-loading-text">Inscription</a>
                </button>
                <label>
                    <input type="checkbox" checked="checked" name="rmb" id="rmb"> Se souvenir de moi
                </label>
            </div>
            <div class="container" id="pbm">
                <button type="button" onclick="setStyleByID('register', 'display: none;')" class="cancelbtn waves-effect waves-light">Annuler</button>
                <span class="password"><a href="#">Mot de passe Oublié ?</a></span>
            </div>
        </form>
    </div>
</body>
{{ template "js" . }}
<script type="text/javascript" src="/js/login/login.js"></script>
{{ template "end" . }}
